[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after
{
	background-color: #2196F3 !important;
}

input[type=number]:focus:not([readonly])+label{
	color:#2196F3 !important;
}

[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:before, 
[type="radio"].with-gap:checked+label:after{
	border: 2px solid #2196F3 !important;
}


input[type=number]:focus:not([readonly]){
	border-bottom: 1px solid #2196F3 !important;
	box-shadow: 0 1px 0 0 #2196F3 !important;
}