type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after
{
	background-color: #2196F3 !important;
}

input[type=number]:focus:not([readonly])+label{
	color:#2196F3 !important;
}

	[type="radio"]:checked+label:after, 
	[type="radio"].with-gap:checked+label:before, 
	[type="radio"].with-gap:checked+label:after{
		border: 2px solid #2196F3 !important;
	}


	input[type=number]:focus:not([readonly]){
	border-bottom: 1px solid #2196F3 !important;
	box-shadow: 0 1px 0 0 #2196F3 !important;
}

.container{
	height: 100%;
}

.container.white{
	padding: 35px;
}

header{
	height: 100px;
}

header .container{
	padding: 29px;
	color: white;
	background-image: url('images/redneuronal.jpg');
}

header .container i{
	font-size: 76px;
}