[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after
{
	background-color: #2196F3 !important;
}

input[type=number]:focus:not([readonly])+label{
	color:#2196F3 !important;
}

	[type="radio"]:checked+label:after, 
	[type="radio"].with-gap:checked+label:before, 
	[type="radio"].with-gap:checked+label:after{
		border: 2px solid #2196F3 !important;
	}


	input[type=number]:focus:not([readonly]){
	border-bottom: 1px solid #2196F3 !important;
	box-shadow: 0 1px 0 0 #2196F3 !important;
}
.container.white{
	padding: 35px;
}

header{
	height: 100px;
}

header .container{
	height: 100%;
	padding: 29px;
	color: white;
	background-image: url('images/redneuronal.jpg');
}

header .container i{
	font-size: 76px;
}


.form form{
	margin-bottom: 10px;
	border-bottom: solid 2px;
}

.result{
    margin-top: 5%;
}

#wrap ul{
	margin: 0;
}

#wrap  span,#wrap  li {
  font-family: monospace;
  font-size: 1.3em;
}

#wrap li:before, #wrap span:before {
	content: 'perceptron@home:~$ ';
}

.console .row.black{
	height: 300px;
	cursor: help;
	overflow-y: auto;
	border: solid 1px blue;
}

#wrap span:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#wrap {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.headconsole{
	margin-bottom: 0;
	border: solid 1px blue;
}

.headconsole label{
	font-size: 1.5em;
	color: black;
	margin: 34px;
}

.headconsole i{
	position: absolute;
	margin: 4px;
}

.result label, .result span{
	font-size: 1.2em;
}