<!--Creation of form for training-->
<section class="form" >
	<form name="formPesos">
		<div class="row">
			<div class="">
				<h5>Pesos</h5>
			</div>	 
			<div class="row">
				<div class="input-field col s4">						
					<input type="number" name="w1" id="w1" step="any" ng-model="neurona.pesos.w1" required>
					<label for="w1" class="active">W1</label>
					<span ng-show="formPesos.w1.$error.required">El campo es obligatorio.</span>
				</div>
				<div class="input-field col s4">
					<input type="number" name="w2" id="w2" step="any" ng-model="neurona.pesos.w2" required>
					<label for="w2" class="active">W2</label>
					<span ng-show="formPesos.w2.$error.required">El campo es obligatorio.</span>
				</div>
				<div class="input-field col s4">
					<input type="number" name="w3" id="w3" step="any" ng-model="neurona.pesos.w3" required>
					<label for="w3" class="active">W3</label>
					<span ng-show="formPesos.w3.$error.required">El campo es obligatorio.</span>
				</div>
			</div>
			<div>
				<h5>Funciones</h5>
			</div>
			<div class="row">
				<div class="col s4">
					<input type="radio" name="Functions" value="and" id="and" ng-model="funcion.actual" required>
					<label for="and">AND</label>
					<span ng-show="formPesos.w3.$error.required">El campo es obligatorio.</span>
				</div>
				<div class="col s4">
					<input type="radio" name="Functions" value="or" id="or" ng-model="funcion.actual" required>
					<label for="or">OR</label>
					<span ng-show="formPesos.w3.$error.required">El campo es obligatorio.</span>
				</div>
				<div class="col s4">
					<input type="radio" name="Functions" value="xor" id="xor" ng-model="funcion.actual" required>
					<label for="xor">XOR</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s3 offset-s9">
				<button class="btn waves-effect waves-light blue darken-1" type="submit" name="action" ng-click="eventos.clickEntrenamiento()">Entrenar
					<i class="material-icons right">settings_input_composite</i>
				</button>
			</div>
		</div>
	</form>
</section>