<!--Creation of form for training-->
<section class="form" >
	<form>
		<div class="row">
			<div class="">
				<h5>Pesos</h5>
			</div>	 
			<div class="row">
				<div class="input-field col s4">						
					<input type="number" name="w1" id="w1" string-to-number ng-model="neurona.pesos.w1">
					<label for="w1" class="active">W1</label>
				</div>
				<div class="input-field col s4">
					<input type="number" name="w2" id="w2" string-to-number ng-model="neurona.pesos.w2">
					<label for="w2" class="active">W2</label>
				</div>
				<div class="input-field col s4">
					<input type="number" name="w3" id="w3" string-to-number ng-model="neurona.pesos.w3">
					<label for="w3" class="active">W3</label>
				</div>
			</div>
			<div>
				<h5>Funciones</h5>
			</div>
			<div class="row">
				<div class="col s4">
					<input type="radio" name="Functions" value="and" id="and">
					<label for="and">AND</label>
				</div>
				<div class="col s4">
					<input type="radio" name="Functions" value="or" id="or">
					<label for="or">OR</label>
				</div>
				<div class="col s4">
					<input type="radio" name="Functions" value="xor" id="xor">
					<label for="xor">XOR</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s3 offset-s9">
				<button class="btn waves-effect waves-orange blue darken-1" type="submit" name="action">Entrenar
					<i class="material-icons right">settings_input_composite</i>
				</button>
			</div>
		</div>
	</form>
</section>

{{neurona.pesos}}